img {
  border-radius: 6px;
}

.product-card {
  border: solid 1px white;
  border-radius: 12px;
  padding: 8px 24px;
}

.product-card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-to-cart-btn {
  height: 35px;
  border-radius: 12px;
}

.card-grid {
  padding: 24px;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  gap: 12px;
}

.store-header {
  text-align: center;
  position: relative;
  top: 35px;
}

.home-header {
  font-size: 128px;
  font-weight: 1000;
  text-align: center;
}

.home-images {
  display: flex;
  justify-content: space-evenly;
}

.home-desc {
  font-size: 32px;
  font-weight: bold;
  padding: 36px;
  text-align: center;
  border: solid 1px white;
  border-radius: 12px;
  margin: 24px 18px;
}
/* remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
